#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem;  */
  text-align: center;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fbff00dd);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fbff00dd);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px 20px; 
  text-align: center;
  width: 85vw; 
  box-sizing: border-box; 
  position: relative
}

/* Container for flexboxes */
.row {
  width: 85vw;
  display: -webkit-flex;
  display: flex;
  padding: 10px; 
  margin: 10px 0; 
}

.rowcontainer {
  width: 40vw;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  margin: 10px; /* Add this line */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

/* Style the footer */
.footer {
  text-align: center;
  width: 85vw; /* Make the footer take the full width of the screen */
  box-sizing: border-box;
  position: relative;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.button-1 {
  background-color: #FFC738;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #FFB122;
}

.read-the-docs {
  color: #888;
}

.ballot-container {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 2%;
  background-color: #f9f9f9;
}

.ballot-option {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.ballot-option input {
  margin-right: 0.5rem;
}

.ballot-option span {
  margin-right: 0.5rem;
}

.selected-vote {
  margin-top: 1rem;
  font-weight: bold;
}

.voter-container {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 200px;
  margin: 5% auto;
  background-color: #f9f9f9;
}

.grey-divs-container {
  display: flex;
  gap: 1rem;
  margin: 10%;
}

.grey-div-column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80px; /* Adjust width to match grey-div width */
  height: 200px; /* Adjust height based on number of divs and their overlap */
  /* align-items: center; */
  /* position: relative; */
}

.grey-div {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border-radius: 10%;
  border: 2px solid #ccc;
  margin: 0; 
}

.tally-demo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-section, .right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 2%;
  margin-bottom: 2%;
}

.sum-button {
  padding: 10px 20px;
  font-size: 16px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-total{
  width: 85%;
  margin: auto;
  max-width: 500px;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #f5f5f5;
}

.large-font-list {
  font-size: 1.5rem; 
  margin-inline: 10%;
}

.tally-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-bottom: 3%;
}

.large-font{
  font-size: 2rem;
}
.tally-font{
  font-style: bold;
}
.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  gap: 20px;
}

.column.large {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 10px
}
.column.small {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 10px;
}

.tally-demo-container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.custom-card {
  flex: 0 0 70%;
  min-height: 70vh;
  /* margin-inline: 5%; */
  max-width: 70%;
  padding: 30px;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-card-right {
  flex: 0 0 30%;
  min-height: 70vh;
  max-width: 30%;
  padding: 30px;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-header {
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px;
  border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}

.custom-footer {
  /* margin-top: auto; Push to bottom */
  padding: 2px;
}

.button-container {
  margin-top: auto; /* Push to bottom */
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.text-center {
  text-align: center;
}
.ballot-container {
  padding: 10px;
  width: 15vw;
}

.clipboard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.clipboard-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.encryption {
  flex-grow: 1;
}

.qr-code {
  margin-left: 10px;
  font-size: 20px;
}
