#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem;  */
  text-align: center;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #40ff32dd);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #40ff32dd);
}

body {
  font-family: Georgia, serif;
}


.header {
  padding: 10px 20px;
  text-align: center;
  width: 85vw;
  box-sizing: border-box;
  position: relative
}

/* Container for flexboxes */
.row {
  width: 85vw;
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  margin: 10px 0;
}

.row-home {
  width: 55vw;
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  margin-inline: auto;
}

.rowcontainer {
  width: 40vw;
  display: flex;

}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Left and right column */
.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.inner-column {
  padding: 10px;
  margin: 10px;
  padding: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

}

/* Style the footer */
.footer {
  text-align: center;
  width: 85vw;
  /* Make the footer take the full width of the screen */
  box-sizing: border-box;
  position: relative;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.button-1 {
  background-color: #187f26;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #6cee5b;
}

.read-the-docs {
  color: #888;
}

.ballot-container {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 2%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ballot-option {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.ballot-option input {
  margin-right: 0.5rem;
}

.ballot-option span {
  margin-right: 0.5rem;
}

.selected-vote {
  margin-top: 1rem;
  font-weight: bold;
}

.voter-container {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 50%;
  height: 150px;
  margin: 5% auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tally-demo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
  height: 80vh;
}

.left-section,
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 2%;
  margin-bottom: 2%;
}

.sum-button {
  padding: 10px 20px;
  font-size: 16px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  width: 50%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-total {
  width: 85%;
  margin: auto;
  max-width: 500px;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

/* .large-font-list {
  font-size: 1rem;
  margin-inline: 10%;
} */

/* .tally-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-bottom: 3%;
} */

/* Result Container */
.result-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-top: 4%;
  border-radius: 0.5rem;
}

.verify-tally-container{
  background-color: #c2c1c1;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  border: 5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 75%;
  margin-top: 7%;
  width: 70%
}
/* Result */
.result {
  background-color: rgb(208, 233, 252);
  border: 6px solid #060606;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Increased width */
  padding: 20px;
  position: relative;
  height: 90%;
  /* margin-top: 5%; */
  /* margin-bottom: 20px; Space between Tally and Verify Tally */
}


/* Clipboard Container */
.clipboard-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

/* Clipboard */
.clipboard {
  background-color: rgb(90, 64, 40);
  border: 6px solid #060606;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Increased width */
  height: 68vh; /* Increased height */
  padding: 20px;
  position: relative;
  margin-top: 40px; /* For the clipboard header */
}

.clipboard-page{
  background-color: rgb(255, 255, 255);
  /* border-radius: 15px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 98%;
  max-width: 100%;
  padding: 5%;
  position: relative;
  margin: auto;
  align-items: center;
  margin-bottom: 8%;
}


/* Clipboard Header */
.clipboard-header, .clipboard-subheader {
  background: linear-gradient(to bottom, #c3c3c4, #979797);
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  margin-bottom: 5%;
}

/* Clipboard Header */
.result-subheader {
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, #1d2d4d, #1d2d4d);
  color: white;
  padding: 10px;
  border: 6px solid #060606;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 103%;
  margin-bottom: 5%;
}

/* Tally Item */
.tally-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #d1d0d0;
  margin-bottom: 3%;
}

/* Total Votes Container */
.total-votes-container {
  border-radius: 1rem;
  background-color: #f5f5f5;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-inline: 5%;
  margin-top: 4%;
}

/* Large Font List */
.large-font-list {
  font-size: 1.2rem;
  font-weight: bold;
}

/* No Bullets */
.no-bullets {
  list-style-type: none;
}

.large-font {
  font-size: 2rem;
}

.tally-font {
  font-style: bold;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-self: flex-start;
  width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
  overflow: auto;
}

.column.large {
  flex: 0 0 50%;
  max-width: 45%;
  padding: 10px
}

.column.small {
  flex: 0 0 50%;
  max-width: 45%;
  padding: 10px;
}

.custom-card {
  max-width: 45%; /* Adjust width */
  height: 80vh; /* Increased height */
  padding: 10px;
  border-radius: 10px;
}

.custom-card-right {
  max-width: 55%; /* Adjust width */
  height: 80vh; /* Increased height */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Distribute space evenly */
}

.custom-header {
  background-color: #1d2d4d;
  /* Light grey background */
  padding: 10px;
  /* border-radius: 10px 10px 0 0; */
  /* Rounded corners at the top */
}

.custom-footer {
  /* margin-top: auto; Push to bottom */
  padding: 2px;
}

.button-container {
  margin-top: auto;
  /* Push to bottom */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.text-center {
  text-align: center;
}

.ballot-container {
  padding: 10px;
  width: 15vw;
}

.encryption {
  flex-grow: 1;
}

.qr-code {
  margin-left: 10px;
  font-size: 20px;
}


/* for ballotencryptions.jsx */
.receipt-container {
  height: 25rem;
  padding: 20px;
  border: 4px solid #000000;
  border-radius: 1.5rem;
  flex-wrap: wrap;
  overflow: auto;
}



.receipt-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.hash-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}

.hash-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 120px;
  background-color: #f0f0f0;
  border: 5px dashed #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.5em;
}



.custom-row {
  height: 70%; 
}

.overlayDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.4); /* Semi-transparent background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Overlay div to be on top */
}